
body{
    background-color: rgb(255, 255, 255);
}

#heading { 
    display: flex;
    justify-content: center;
    align-items: center; 
}
#winner {
    display: flex;
    justify-content: center;
    align-items: center; 
}

table td{
    border: 3px solid rgb(49, 46, 46);
    border-radius: 5px;
    color: rgb(80, 84, 62);
    padding: 2px;
    height: 100px;
    width: 90px; 
    font-size: 70px;
    text-align: center;
    background-color: rgb(220, 218, 218);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#btns{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#resetbtn{
    height: 30px;
    width: 70px;
    font-size: 22px; 
    border-radius: 5px;
    padding: auto;    
}

.hoverable {
    box-shadow: 5px 3px 1px ;    
    transition: background-color 0.3s, color 0.3s;
}

.hoverable:hover {
    background-color: lightblue;
    color: white;
}

 